div.box.login
  p Login To Your Account
  form(method='post', action='/login')
    div
      input(type='text', name='email', placeholder='Email Address')
      input(type='password', name='password', placeholder='Password')
      input(type='submit', value='Log In')
