div.box.register
  p Register For An Account
  form(method='post', action='/register')
    div
      input(type='text', name='email', placeholder='Email Address')
      input(type='password', name='password', placeholder='Password')
      input(type='submit', value='Register')